body { 
    font-family: Neuton;
    font-size: 14pt;
}

header {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    display: block;
}

div#content {
    margin-top: 15px;
}

table#articles {
    margin-left: auto;
    margin-right: auto;
    width: 525px;
    padding: 5px;
    background-color: #fcfcfc;
    border: thin solid #eeeeee;
}

table th {
    font-size: 10pt;
    text-align: left;
    vertical-align: bottom;
}

th.rank {
    width: 40px;
}

th.prevRank {
    width: 40px;
}

th.views {
    width: 40px;
}

th.article {
}

th.social {
    width: 75px;
}

table#articles td {
}


a { 
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

tr:hover {
    font-weight: bold;
}

div#articleSummary {
    padding: 10pt;
    width: 270px;
    opacity: 1;
    font-size: 12pt;
}

div#articleSummary a {
    text-decoration: underline;
}

img.icon {
    height: 15px;
    vertical-align: bottom;
}

footer {
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
    font-size: 14pt;
    text-align: center;
}

footer a {
    text-decoration: underline;
}
