body { 
    font-family: Neuton;
    font-size: 12pt;
}

table#articles {
}

table#articles td {
}

a { 
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

tr:hover {
    font-weight: bold;
}

div#articleSummary a {
    text-decoration: underline;
}
